body {
  margin: 0;
  padding: 0;
  background: rgb(211,16,16);
  background: linear-gradient(90deg, rgba(211,16,16,1) 0%, rgba(211,16,50,1) 35%, rgba(237,54,110,1) 100%);
}

.code-font {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  width: 90vw;
  height: 10vh;
  display: inline-flex;
}

.navbar-Icon{
  width: 5vw;
}


.navbar-icon-container{
  width: 14vw;
  display: flex;
  flex-direction: wrap;
  list-style: none;
}


.navbar-icon-container li{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    margin-left: 4%;
    color: white;
  }

.navbar-icon-text{
  margin-top: 1.5vw;
  font-size: 22px;
  
}


.navbar-items-container{
    width: 4vw;
    margin-left:31vw;
    margin-top: 5vh;

}

.navbar-items-container li{
    display: inline;
    position: initial;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    margin-left: 50%;
    font-size: 18px;
}

.navbar-items-container li a{
  text-decoration: none;
  color: white;
}
