body {
  margin: 0;
  padding: 0%;
  background: rgb(211,16,16);
  background: linear-gradient(90deg, rgba(211,16,16,1) 0%, rgba(211,16,50,1) 35%, rgba(237,54,110,1) 100%);
}

.code-font {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  width: 90vw;
  height: 10vh;
  display: flex;
  flex-flow: row ;
}

.navbar-Icon{
  width: 5.5vw;
}


.navbar-icon-container{
  width: 14vw;
  display: flex;
  flex-direction: wrap;
  list-style: none;
}


.navbar-icon-container li{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    margin-left: 4%;
    color: white;
  }

.navbar-icon-text{
  margin-top: 1.5vw;
  font-size: 20px;
  
}


.navbar-items-container{
    width: 4vw;
    margin-left:31vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-items-container li{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    margin-left: 50%;
    font-size: 18px;
}

.navbar-items-container li a{
  text-decoration: none;
  color: white;
}


/* ------------BODY STYLE---------- */
.body{
  border: 1px yellow solid;
  display: flex;
  flex-flow: row;
}

.body-img-trainerImg{
  width: 11vw;

  margin-top: 20.1vh;
  margin-left: 5.8vw;
}

.body-img-textGlove{
  width: 11vw;
  transform: rotate(90deg);
  margin-bottom:15vw;
  position: absolute;
  top: 28.5%;
  left: 15.3%;
}

.body-pokesearch{
  background: white;
  border: 5px black solid;
  border-radius: 2.5%;
  padding: 1.4%;
  margin-left: 6%;
}

.body-pokesearch h2{
  font-family: bebas;
  font-stretch: extra-condensed;
}
.body-pokesearch h4{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}


.body-pokesearch-bar{
  width: 80%;
  margin-left: 3%;
}

.body-pokesearch-content{
  background: blue;
  display: flex;
  flex-flow: row wrap;
}

@font-face {
  font-family: bebas;
  src: url(/src/fonts/BebasNeue-Regular.ttf);
}